<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.gmail.com" />
		<add key="Port" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="SenderName" value="Michał S." />
		<add key="SenderEmail" value="SENDER_MAIL" />
		<add key="SenderEmailPassword" value="encrypt:EMAIL_PASS" />
		<add key="ReceiverEmail" value="YOUR_MAIL" />
		<add key="SentHour" value="22" />
		<add key="IntervalInMinutes" value="720" />
		<add key="EnableSendingReports" value="true" />
		<add key="StockSymbol" value="AAPL" />
		<add key="StockApiKey" value="encrypt:STOCK_API_KEY" />
		<add key="SmsAccountSid" value="TWILIO_ACCOUNT_SID" />
		<add key="SmsAccountToken" value="encrypt:TWILIO_TOKEN" />
		<add key="SmsRecieverNumber" value="YOUR_PHONE_NUMBER" />
		<add key="TwilioNumber" value="TWILIO_PHONE_NUMBER" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>